body {
    height: 100%;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
main {
    background-color: white;
    padding: 15px;
    height:500px;
    width: 320px;
    border-radius:13px ;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
}

p.paragraph{
    font-family: "Outfit",sans-serif;
    font-weight: 400;
    color: #8E919A;
}
p.titre {
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    color: black;
}
footer {
    justify-content: end;
    position: absolute;
    bottom: 0;
    height: 20px;
}